
.btn-open {
  position: relative;
  left: 230px;
  top: -696px;
  border: none;
}

.btn-primario {
  width: 46px;
  position: relative;
  left: 6px;
  top: 5px;
  border: none;
  background: darkseagreen;
  border-radius: 11px;
}

.input {
    width: 241px;
    height: 191px;
    border-radius: 5px;
    border: solid 1px;
}

