.body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f3f6fd;
}


/*Input*/
.entrada-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  box-shadow: 0 0 0 0;
  outline: 0;
  width: 516px;
  height: 36px;
  color:black;
  border:  rgb(39, 163, 39) solid;
  border-radius: 8px;
  top: 38px;
  left: 400px;
  right: 10;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  padding: 9px;
}

.span-id {
  color: none;
}


/*Botao de Remover Item*/
.btn-remove {
  display: flex;
  position: relative;
  background: none;
  left: -10px;
  border: none;
}

   #icon-delete-red {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    color: #FF0000;
    height: 24px;
    width: 28px;
    position: relative;
    left: -2px;
    top: 1px;
 }
  #icon-delete-yellow {
   background-repeat: no-repeat;
   display: inline-block;
   fill: currentColor;
   color:#ffd700;
   height: 24px;
   width: 28px;
   position: relative;
   left: -2px;
   top: 1px;
 }
  #icon-delete-green {
   background-repeat: no-repeat;
   display: inline-block;
   fill: currentColor;
   color:#3CB371;
   height: 24px;
   width: 28px;
   position: relative;
   left: -2px;
   top: 1px;
 }

/*Area dos Cards*/
.example-box {
  font-family: "Roboto", sans-serif;

}


.example-list {
  font-family: "Roboto",sans-serif;
}

#tarefa {
  position: relative;
  left: 122px;
  top: 8px;
}


/*Cards*/

.Fazer{
  font-family: "Roboto", sans-serif;
    text-align: center;
    left: 80px;
    top: -781px;
    background: #fff;
    border-top: 5px solid #FF0000;
    border-radius: 16px;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  }

  .Fazendo {
    font-family: "Roboto", sans-serif;
    text-align: center;
    left: 497px;
    top: 89px;
    background: #fff;
    border-top: 5px solid #FFD700;
    border-radius: 16px;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: absolute;
    width: 300px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30),
    0 15px 12px rgba(0,0,0,0.22);
    }


    .Feito{

    font-family: "Roboto", sans-serif;
    text-align: center;
    left: 922px;
    top: 89px;
    background: #fff;
    border-top: 5px solid #3CB371;
    border-radius: 16px;
    display: inline-block;
    height: 400px;
    margin: 1rem;
    position: absolute;
    width: 300px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
      }

  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }


  .example-container {
    width: 300px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

   /* Modal */

  #icon-detalhes {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    top: -12px;
    position: relative;
    left: 88px;
  }

  #btn-save{
    background:  #4CAF50;
    position: relative;
    text-transform: uppercase;
    width: 25%;
    left: 2px;
    top: 3px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    outline: 0;
  }

  #btn-close {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 76px;
    width: 27px;
    position: relative;
    font-size: 30px;
  }

  #btn-delete {
    background-repeat: no-repeat;
    display: inline-block;
    color: #FF0000;
    fill: currentColor;
    height: 76px;
    width: 27px;
    position: fixed;
    font-size: 30px;
    left: 210px;
    top: 292px;
  }


   .modal-janela {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.473);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s;

  }
  .modal-janela:target {
    visibility: visible;
    opacity: 10;
    pointer-events: auto;
  }
  .modal-janela > div {
    width: 316px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 2em;
    background: #a6f2fc;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .modal-janela header {
    font-weight: bold;
  }
  .modal-janela h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  .modal-close {
    color: rgb(199, 32, 32);
    line-height: 50px;
    font-size: 30px;

    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: #a30505;
  }
  /* Demo Styles */

  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 0vh;
  }
  .modal-window > div {
    border-radius: 1rem;
  }
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  small {
    color: lightgray;
  }
  .btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 1rem;
    text-decoration: none;
  }
  .btn i {
    padding-right: 0.3em;
  }

 #liModal{
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px 0 5px;
  border-left: none;
  border-right: none;
 }


  #listaModal{
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image:
  linear-gradient(90deg,  #FFD32E 10px,#EEE 10px, #EEE 11px, transparent 11px);
  padding: 10px 15px 10px 25px;
  position: relative;
  border: 1px solid #CCC;
  top: 29px;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}










